.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: visible;
    padding-top: 20px;
    padding-bottom: 10px;
}

.scrolling-wrapper > .card {
  flex: 0 0 auto;
  margin-right: 11px;
}
  